* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000 52%, #c12a23 100%);
    font-size: 62.5%; /* Faz 1rem valer 10px */
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: var(--background);
}

/* Utilities classes */
.grid {
    display: grid;
}

/* App */
#app {
    grid-auto-rows: max-content;
    gap: 3rem;

    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 12.6rem;

    text-align: center;
    color: var(--title);
}

/* Title app */
.title-app {
    gap: 1rem;
    place-items: center;
}

.title-app img {
    width: 8.7rem;
    height: 6.2rem;
}

.title-app h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
}

/* Btn find movie */
.find-movie-btn-app {
    grid-template-columns: 1fr 2fr;
    align-items: center;

    margin: 0 auto;
    padding: 1.2rem 1.6rem;
    border-radius: 0.5rem;
    background-color: var(--bg-button);
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;

    transition: 0.2s;
}

.find-movie-btn-app:hover {
    opacity: 0.7;
}

.find-movie-btn-app::before {
    content: "";
    display: block;
    width: 3.5rem;
    height: 2.5rem;
    background: url(assets/shuffle.svg) no-repeat center / 3.5rem 2.5rem;
}

/* Paragraph app */
.paragraph-app {
    max-width: 38.1rem;
    margin: 0 auto;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

/* Container of movies */
.container-movies-app {
    display: none;
    max-width: 62.8rem;
    height: 31.9rem;
    margin: 0 auto;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content 1fr;
    gap: 1.9rem 3.4rem;

    text-align: left;
}

.poster-movie,
.missing-poster-movie {
    max-width: 100%;
    grid-row: 1 / 4;
}

.missing-poster-movie {
    object-fit: cover;
    object-position: 0 3rem;
}

.title-movie {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.container-movies-app p {
    font-weight: 400;
    line-height: 2.4rem;
    overflow: auto;
}
